.mascheraUpload {
  position: absolute !important;
  top: 5%;
  left: 5%;
  width: 90%;
  border: 1px solid #999;
  background-color: white;
  border-radius: 5px;
  z-index: 1001;
}

.attenderePrego {
    width: 40%;
    /* height: 44%; */
    border: 1px solid #999;
    left: 32%;
    top: 32%;
    border-radius: 5px;
    background-color: #fff9b0;
    text-align: center;
    z-index: 1002;
    position: fixed;
    padding: 35px;
  }
  