<div id="reset-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logoApplicazione.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to inCalcio!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            L’unica applicazione che ti permette di semplificare la gestione della tua società di calcio!
        </div>

    </div>

    <div id="reset-password-form-wrapper" fusePerfectScrollbar style="background-color: white;"
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logoApplicazione.png">
            </div>

            <div class="title">CAMBIA PASSWORD</div>

            <campo_testo
                [soloLettura] = "false"
                [lunghezzaMassima] ="50"
                [nomeCampo]="EMail"
                [Titolo]="'E-Mail'"
                [obbligatorio]="true"
                [tipoCampo]="'text'"

                (ritorno)="EMail = $event; controlloValiditaCampi();"
            ></campo_testo>
        
            <h3> La password deve essere composta da almeno: 8 caratteri, 2 lettere minuscole, 1 lettera maiuscola, 3 numeri, 1 carattere speciale </h3>

            <campo_testo
                [soloLettura] = "false"
                [lunghezzaMassima] ="50"
                [nomeCampo]="Password1"
                [Titolo]="'Password'"
                [obbligatorio]="true"
                [tipoCampo]="'password'"

                (ritorno)="Password1 = $event; controlloValiditaCampi();"
            ></campo_testo>
        
            <campo_testo
                [soloLettura] = "false"
                [lunghezzaMassima] ="30"
                [nomeCampo]="Password2"
                [Titolo]="'Controllo Password'"
                [obbligatorio]="true"
                [tipoCampo]="'password'"

                (ritorno)="Password2 = $event; controlloValiditaCampi();"
            ></campo_testo>

            <button mat-raised-button class="submit-button" color="accent" (click)="cambiaPassword()"
                    aria-label="CAMBIA PASSWORD" [disabled]="!campiValidi">
                CAMBIA PASSWORD
            </button>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login-2'">Torna al login</a>
            </div>

        </div>
    </div>
</div>
