<div class="page-layout blank p-24" fusePerfectScrollbar style="padding: 0px;">
    <!-- <div style="width: 100%; text-align: center; padding: 15px; padding-left: 40px;">
        <widget_iscritti-component
        >
        </widget_iscritti-component>

        <widget_quote-component
        >
        </widget_quote-component>    
        
        <widget_firme-component
        >
        </widget_firme-component>


        <widget_scadenze-component
        >
        </widget_scadenze-component>
    </div> -->
    <div class="content">

        <div class="left mr-lg-32">

            <div fxLayout="column" fxLayoutAlign="start"
                fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <div class="widget" fxFlex="100" fxFlex.gt-sm="50" style="padding: 10px;">
                    <div class="auto-width" style="height: auto;">
                        <widget_indicatori-component
                        >
                        </widget_indicatori-component>
                    </div>
                </div>

                <div class="widget" fxFlex="100" fxFlex.gt-sm="50" style="padding: 10px; height: auto;">
                    <div class="auto-width mb-49" [ngClass.gt-sm]="'mb-0 mr-49'" style="height: auto;">
                        <widget_iscritti-component
                        >
                        </widget_iscritti-component>

                        <widget_genitore-component
                        >
                        </widget_genitore-component>
                    </div>
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="start"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <div class="widget" fxFlex="100" fxFlex.gt-sm="50" style="padding: 10px; height: auto;">
                    <div class="auto-width mb-49" [ngClass.gt-sm]="'mb-0 mr-49'" style="height: auto;">
                        <widget_quote-component
                        >
                        </widget_quote-component>    
                    </div>
                </div>

                <div class="widget" fxFlex="100" fxFlex.gt-sm="50" style="padding: 10px; height: auto;">
                    <div class="auto-width mb-49" [ngClass.gt-sm]="'mb-0 mr-49'" style="height: auto;">
                        <widget_firme-component
                        >
                        </widget_firme-component>
                    </div>
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="start"
                fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <div class="widget" fxFlex="100" fxFlex.gt-sm="50" style="padding: 10px;">
                    <div class="auto-width" style="height: 220px;">
                        <widget_scadenze-component
                        >
                        </widget_scadenze-component>                                
                    </div>
                </div>

                <div class="widget" fxFlex="100" fxFlex.gt-sm="50" style="padding: 10px;">
                    <div class="auto-width mb-49" [ngClass.gt-sm]="'mb-0 mr-49'" style="height: 220px;">
                        <widget_count-component
                        >
                        </widget_count-component>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
